.singleForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  overflow-x:hidden;
}

.formArray{
  display: flex;
  flex-direction: row;
  min-width: max-content;
  height: 10em;
  align-items: center;
  justify-content: center;
}

.formArray button{
  text-align: center;
  border: 1px lightgray solid;
  border-radius: 50%;
  padding: 3px;
}

.mainForm{
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  align-items: center;
  justify-content: center;
}


/*Extension.tsx*/

.collapsibleContent {
    border: 1px solid rgb(128, 123, 123);
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
    background-color: lightsteelblue;
    border-radius: 3%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
    
.contentParent {
    overflow: hidden;
    transition: height ease 0.9s;
}


.mainForm input{
  border: 1px solid lightcyan;
  border-radius: 0.25rem; /* 4px */
  padding: 0.5rem; /* 8px */
  width: 100%;
  max-width: 24rem; /* 384px */
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  margin: 0.5rem 0; /* 8px */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #000000;
  background-color: #ffffff;
}