.singleForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
}

.formArray{
  display: flex;
  flex-direction: row;
  width: inherit;
  height: fit-content;
  align-items: center;
  justify-content: center;
  max-height: 20rem;
  object-fit: contain;
}

.formArray button{
  text-align: center;
  border: 1px lightgray solid;
  border-radius: 50%;
  padding: 3px;
}

.mainForm{
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  align-items: center;
  justify-content: center;
}


/*Extension.tsx*/

.collapsibleContent {
    border: 1px solid rgb(128, 123, 123);
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
    background-color: lightsteelblue;
    border-radius: 3%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
    
.contentParent {
    overflow: hidden;
    transition: height ease 0.9s;
}


.mainForm input{
  border: 1px solid lightcyan;
  border-radius: 0.25rem; /* 4px */
  padding: 0.5rem; /* 8px */
  width: 100%;
  max-width: 24rem; /* 384px */
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  margin: 0.5rem 0; /* 8px */
  color: #000000;
  background-color: #ffffff;
  text-wrap: wrap;
  overflow-wrap:normal;
}

/*Top bar*/

.topBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem; /* 8px */
  background-color: #f3f4f6; /* Tailwind's gray-100 */
  border-bottom: 1px solid #e5e7eb; /* Tailwind's gray-200 */
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  color: #000000; 
}